<h2>All user</h2>
<table border="1">
    <tr>
        <th class="h1">Sl NO</th>
        <th class="h2">Check box</th>
        <th class="h3">Profile</th>
        <th class="h4">User Name</th>
        <th class="h5">Password</th>
        <th class="h6">Email</th>
        <th class="h7">Action</th>
    </tr>

    <tr *ngFor="let row of rows;let i = index">
        <td>{{i + 1}}</td>
        <td><input type="checkbox" /></td>
        <td>
            <span *ngIf="rowID == i; else editprofile ">
                <span *ngIf="!editdata">
                    {{row.profile}}
                </span>
                <span *ngIf="editdata">
                    <input [(ngModel)]="row.profile" placeholder="Edit Store Description">
                </span>
            </span>
            <ng-template #editprofile>
                <p>
                    {{row.profile}}
                </p>
            </ng-template>
        </td>
        <td>
            <span *ngIf="rowID == i; else editusername ">
                <span *ngIf="!editdata">
                    {{row.username}}
                </span>
                <span *ngIf="editdata">
                    <input [(ngModel)]="row.username" placeholder="Edit Store Description">
                </span>
            </span>
            <ng-template #editusername>
                <p>
                    {{row.username}}
                </p>
            </ng-template>
        </td>
        <td> <span *ngIf="rowID == i; else editpassword ">
                <span *ngIf="!editdata">
                    {{row.password}}
                </span>
                <span *ngIf="editdata">
                    <input [(ngModel)]="row.password" placeholder="Edit Store Description">
                </span>
            </span>
            <ng-template #editpassword>
                <p>
                    {{row.password}}
                </p>
            </ng-template>

        </td>
        <td>
            <span *ngIf="rowID == i; else editemail ">
                <span *ngIf="!editdata">
                    {{row.email}}
                </span>
                <span *ngIf="editdata">
                    <input [(ngModel)]="row.email" placeholder="Edit Store Description">
                </span>
            </span>
            <ng-template #editemail>
                <p>
                    {{row.email}}
                </p>
            </ng-template>
        </td>
        <td>
            <span *ngIf="rowID == i; else editSave ">
                <span *ngIf="!editdata">
                    <button (click)="update(i)">Edit</button>
                </span>

                <span *ngIf="editdata">
                    <button (click)="save(i)">Save</button>
                </span>

            </span>
            <ng-template #editSave>
                <button (click)="update(i)">Edit</button>
            </ng-template>
            <button>Delete</button>
            <span *ngIf="row.makeadmin != 'true'">
                <button (click)="updateadmin(true,i)">Make Admin</button>
            </span>
        </td>
    </tr>
</table>